
@import "../mixins.scss";
.three{
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
    @include sm{
      width: 90%;
    }
    @include lg{
      width: 90%;
    }
    @include xlg{
      width: 60%;
    }

    // display: flex;
    // flex-direction: column;
    // height: 850px;
    // margin- top: 50px;
    // border: 1px solid;
    // @include sm {
    //   padding: 0 20px;
    //   height: 1800px;
    // }
    .firstsection {
      // height: 300px;
      // width: 100%;
      // display: flex;
      // gap: 5px;
      // width: 50%;
      margin: 0 auto;
      margin-top: 20px;
      @include sm {
        // height: 611px;
        // width: 100%;
        // flex-direction: column;
      }
      @include lg {
        // height: 800px;
        // width: 100%;
      }
      .a1 {
        width: 50%;
        @include sm {
          // width: 100%;
        }
        img {
          // height: 300px;
          width: 100%;
          object-fit: cover;
          background-size: cover;
          // feature-exists($feature: );
          // font-weight: normal; 
          
          // background-position: center center;
          @include sm {
             width: 100px;
          
            width: 100%;
            // height: 300px;
          }
          @include lg {
            // width: 270px;
            // height: 300px;
            // margin-right: 100px;
          }
        }
      }
      .content1 {
        padding-top: 20px;
        padding-left: 10px;

        p {
          transition: all 0.2s linear;
          font-size: 1rem;
          font-family: "Inter", sans-serif;
          //  color: #805aed;
          //  margin-top: 10px;
        }
        .p1 {
          color: #805aed;
          letter-spacing: 2px;  
          font-family: "Sora", sans-serif;
          text-transform: uppercase;
        }
        .details {
          margin-top: 5px;
          color: black;
          display: flex;
          gap: 15px;
          font-size: 0.85rem;
          .details1 {
            display: flex;
            gap: 10px;
            a {
              color: black;
              text-decoration: none;
            }
            .icons {
              text-align: center;
            }
          }
        }
        .a1 {
          text-decoration: none;
          color: black;
          font-family: "Sora", sans-serif;
          font-size: 1.5rem;
          font-weight: 700;

          @include sm{
            font-size: 1.2rem;
          }
          
        }
        p {
          font-size: 0.875rem;
        }
      }
    }
  
}