@import "../mixins.scss";
.image4{
  height: 200px;
  margin-top: 150px;
  display: flex;
  width: 100%;
  background-color: #8efbda;
  margin-bottom: 40px;
  @include sm{
    margin-top: 100px;
    height: 570px;
    // width: 85%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    // padding-left: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 4%;
    
  }
  @include lg{
    margin-top: 100px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    // padding-left: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 4%;
    
  }

  .section1{
    
// width: 30%;
img{
  transform: translateY(-37px);
  // transform: translatex(-1px);
  @include sm{
    // transform: translatex(-20px);
  }

}
  }
  .section2{
    flex:1;
    margin-top: 40px;
    @include sm{
      margin-top: 20px;

    }
   h6{
    color:  #805aed;
    line-height: 1.25em;
    font-size: 1rem;
    font-family: 'Sora',sans-serif;
    font-weight: 700;
    @include sm{
      margin-top: 0px;
    }
    @include lg{
      margin-top: 0px;
    }

   }
   h3{
    line-height: 1.2;
    margin-top: 20px;
    color: #26222f;
    font-family: 'Sora',sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    @include lg{

      font-size: 1.5rem;
    }
  
   }

      }

.section3{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  // flex: 1;
  @include sm{
    width: 100%;
    padding-left: 20px;
    justify-content: flex-start;
  }
  .buttons1{
    // flex: 1;
    // margin-top: -px;
    width: 155px !important;
    // margin-top: 30px;
    border: 1px solid;
    border-radius: 50px !important;
    text-align: center;
    padding: 20px;
    // font-family: 'Open Sans',sans-serif;
    // letter-spacing: 1px;
    background-color: white;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #805aed;
   margin-right: 30px;
  //  margin: 70px;

   @include sm{
    margin: 0;
    margin-left: -20px;
      
   }
    a{
        // padding: 10px;
        color: #ffffff !important;
        font-family: 'Inter',sans-serif;
        font-size: 1rem;
        text-align: none;
        text-decoration: none;

    }
    
  }
}
}