
:root {
  @mixin sm {
    @media only screen and (max-width: 540px) {
      @content;
    }
  }
  --color-blue: rgb(78, 101, 203);
    --color-purple: rgb(113,75,128);
    --color-pink: rgb(203, 66, 116);
    
    --transition-time: 500ms;
    --transition-ease: cubic-bezier(.1,.7,.8,.3);
  --black1: black;
  
  .black2 {
    background-color: var(--black1);
  }
  // Define maximum margin value
  $maximum-margin: 1000;

  // Loop to generate margin classes
  @for $i from 1 through $maximum-margin {
    $p: $i * 1%;
    .mt-#{$i} {
      margin-top: #{$i}px;
    }
    .mr-#{$i} {
      margin-right: #{$i}px;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
      margin-left: #{$i}px !important;
    }
    .mr-auto {
      margin-right:auto;
    }
    .mlp-#{$i} {
      margin-left: #{$p} !important;
    }
  }

  @for $i from 1 through $maximum-margin {
    .p-#{$i} {
      padding: #{$i}px;
    }
    .pt-#{$i} {
      padding-top: #{$i}px;
    }
    .pr-#{$i} {
      padding-right: #{$i}px;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}px;
    }
    .pl-#{$i} {
      padding-left: #{$i}px;
    }
    .px-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
  }

  .td {
    text-decoration: none;
  }

  @for $i from 1 through $maximum-margin {
    .w-#{$i} {
      width: #{$i}px !important;
    }
    .h-#{$i} {
      height: #{$i}px !important;
    }
    .h-sm-#{$i} {
      @include sm {
        height: #{$i}px !important;
      }
    }
  }

  @for $i from 1 through 100 {
    $p: $i * 1%;
    .wp-#{$i} {
      width: #{$p} !important;
    }
    .wp-sm-#{$i} {
      @include sm {
        width: #{$p} !important;
      } 
    }

    .hp-#{$i} {
      height: #{$p} !important;
    }
  }
  @for $i from 1 through 100 {
    .ls-#{$i} {
      letter-spacing: #{$i}px !important;
    }
    .ws-#{$i} {
      word-spacing: #{$i}px !important;
    }
  }
  .td-1 {
    text-decoration: none !important;
  }

  //postioning
  .pa {
    position: absolute;
  }
  .pre {
    position: relative;
  }
  .pf {
    position: fixed;
  }
  @for $i from 1 through $maximum-margin {
    .g-#{$i} {
      gap: #{$i}px !important;
    }
  }
  .jce{
    justify-content: flex-end ;
  }

  // @mixin md{
  //    @media only screen and (max-width: 540px){
  //     @content;

  //    }
  // }
  // @mixin lg{
  //    @media only screen and (max-width: 830px){
  //     @content;

  //    }
  // }

  @mixin lg {
    @media only screen and (max-width: 1180px) and (min-width: 541px) {
      @content;
    }
  }

  @mixin xlg {
    @media only screen and (max-width: 1280px) and (min-width: 1024px) {
      @content;
    }
  }
  @mixin xlg {
    @media only screen and (max-width: 1280px) and (min-width: 1024px) {
      @content;
    }
  }
}

body {
  // display: none !important;
}
