@import "../styles/mixins.scss";
.home{
    height: 820px;
    font-size: 2rem;
    margin-top: 70px;
    @include sm{
        // margin-top: 1500px;
        height: 600px;
    }
    .colour1{
        height: 250px;
    }
    .colour2{
        height: 600px;
        background-color: #5576fb;
        @include sm{
            // height: 600px;
            height: 500px;
        }
        @include xlg{
            // height: 600px;
            height: 500px;
            transform: translatey(-100px);
        }
    }
    .section1{
        // border: 1px solid;
        width: 65%;
        margin: 0 auto;
        height: 500px;
        position: relative;
        // background-color: white;
        transform: translatey(-900px);
        position: relative;
        // .try{
        //     height: 300px;
        // }
        @include sm{
            width: 100%;
            // padding-left: 20px;

            transform: translatey(-900px);
            // margin-left: 40px;
            // margin-top: 10px;
            
        }  @include lg{
            width: 100%;
            padding-left: 20px;

            transform: translatey(-900px);
            
        }
        @include lg{
            width: 100%;
            padding-left: 20px;

            transform: translatey(-779px);
            
        }
        // @include xlg{
        //     width: 100%;
        //     padding-left: 20px;

        //     transform: translatey(-900px);
            
        // }
        
        .image{
            background-image:url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/c89956fbc2d95ac2bffb4a86/gffg.jpg);
            width: 900px;
            height: 720px ;
            background-size: cover;
            // justify-content: space-between;
            // align-items: space-around;
            // display: block;
            // align-items: center;
            // justify-content: center;
            // align-items: center;
            //  justify-content: space-around;
            //  align-items: center;
            // justify-content: space-between;
            text-align: center;
            @include sm{
                width: 300px;
                margin: auto;   
                height: 400px ;
                transform: translateY(150%);
                margin: 0;
                position: absolute;
                background-position: -40px -30px;
                background-repeat: no-repeat;
                top: 30%;
                left: 0;

            }
            // font-weight: 100;
            align-items: flex-end;
            display: block;
            // display: inline-block;
            // display: inline-block;
            // justify-content: space-around;
            // font-style:initial(0,0);
            // // display: inline-block;
            // padding: 0 auto;
            // margin-bottom: 10px ;
            // padding: 10px;
            // justify-content: space-between;
            // postion: absolute;
            // display: inline-flex;
            // justify-content:space-between;
            
            @include sm{
                width: 300px;
                // margin: auto;
                height: 400px ;
                transform: translateY(150%);
                margin: 0;
                position: absolute;
                background-position: -40px -30px;
                background-repeat: no-repeat;
                top: 30%;
                // padding: 0 0px;
           
            
           
                
            }
            @include lg{
                width: 50%;
                height: 500px;
                // vertical-align: none;
                background-position: -100px -10px;
                background-repeat: no-repeat;
                top: 50%;
                margin-right: 150px;
                margin-left: 150px;
            }
            // @include xlg{
            //     width: 50%;
            //     height: 500px;
            //     // vertical-align: none;
            //     background-position: -100px -10px;
            //     background-repeat: no-repeat;
            //     top: 50%;
                
            // }

        }
        .rectangle1{
            height: 450px;
            width: 550px;
            position: absolute;
            background-color: white;
            top: 15%;
            left: 50%;
            // transform: translateX(50%);
            padding: 30px;
            padding-top: 40px;
            @include sm{
                width: 300px;
                margin: auto;
                height: 450px;
                transform: translatex(-10px);
                left: 70px;
                top: -40%;
            }
            @include lg{
                // transform: translatex(-30px);
                left: 330px;
                height: 550px;
                width: 450px;
                // top: -40%;
            }
            @include xlg{
                // transform: translatex(-30px);
                left: 430px;
                height: 550px;
                width: 450px;
                top: -40%;
            }
            .h2{
                font-size: 3rem;
                font-family: Montserrat,sans-serif;
                line-height: 1.1;
                font-weight: 700;
                word-wrap: break-word;
                text-align: left;
                @include sm{
                 font-size: 2rem;
                }
            }
           .p1{
            margin-top: 30px;
            font-size: 1.1rem;
            font-style: italic;
            color: #111111 !important;
            word-wrap: break-word;
            text-align: left;
            font-family: 'Open Sans',sans-serif;
            .a1{
               border-bottom: 1px solid;
                text-decoration: none;
                font-style: italic;
                color: black;
                // text-align: center;
                // margin-top: 200px;
                // padding-bottom: 10px;
                // border: 1px solid black;
                // padding-top: 10px;
                // margin-bottom: 10px;
                // text-decoration: white;
                
               }
           }
           .buttons1{
            width: 230px;
            margin-top: 30px;
            // border: 1px solid;
            border-radius: 50px !important;
            padding: 0 10px;
            text-align: center;
            padding: 10px;
            margin-top: 45px;
            font-family: 'Open Sans',sans-serif;
            letter-spacing: 1px;
            background-color: white;
            height: 60px;
            
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5576fb !important;
            cursor: pointer;
            &:hover{
                background-color: rgb(0,0,0,0.7);
                
            }
            a{
                // padding: 10px;
                color: #ffffff !important;
                letter-spacing: 2.5px;
                
            }
          }

    }
}
}