
@import "../styles/mixins.scss";
.first{
    width: 40%;
    margin: auto;

}
.first img{
    width: 100%;
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-size: cover;
    height: 500px;
    background-position: center center;   
    @include sm{
       height: 300px;
      }     
}
.first h2{
    font-size: 2rem;
    font-family: 'Sora',sans-serif;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 20px;
    @include sm{
        font-size: 1.5rem;
    }
}

.first p{
    font-size: 1rem;
    margin-bottom: 60px;
    margin-top: 20px;
}