.twosection{
    display: flex;
    gap: 20px;
    flex: 1;
    .hello{
        flex: 1;
    }
}


.header{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 50px;
    
  .h3{
    position: absolute;
    flex: 1;
    left: 0;
    line-height: 1.2em;
    color: #26222f;
    font-size: 2rem;
    font-family: 'Sora',sans-serif;
    font-weight: 700;
  }
  .right{
    cursor: pointer;
    display: flex;
    margin-top: 0;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'Inter',sans-serif;
    transform: translateY(10px);
    // font-weight: 500;
    .h5{
      margin-top: 0;
    font-size: 1rem;
    color: #805aed;
    }
    svg{
      display: flex;
      transform: translateY(-2px);
      margin-right: 20px;
      color: #805aed;
    }
  }
  }



.capacitysection {
    color: #35393f;
    background-color: #eaf2fd;
    width: 100%;
    margin-top: 0px;
  
  .capacitysection .section1place h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 2.25rem;
    padding-top: 30px;
    font-family: Oswald, sans-serif;
    color: rgb(42, 64, 94);
  }
  /* margin-top:20px; */
  
  .capacitysection .topp {
    text-align: center;
    font-family: Oswald, sans-serif;
  }
  .servicessection .section1place {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .squaresection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    /* overflow-x: hidden; */
    /* margin: 20px; */
    /* width: 70%; */
    /* margin: auto; */
    /* gap: 0px; */
  }
  
  .square {
    display: block;
    width: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
    // margin: 50px 20px 46px 0px;
    margin-top: 50px;
    flex: 1;
  }
  
  .square img {
    width: 100%;
    // height: 250px;
    object-fit: cover;
    /* object-position: top; */
  }
  
  .squarep {
    // padding-left: 20px;
    padding-right: 20px;
    // background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 1rem;
    font-family: 'Inter',sans-serif;
    word-wrap: break-word;
    color: #4c455f;
  }
  .squareh3 {
    padding-top: 20px;
    // margin-top: 30px;
    // padding-left: 20px;
    padding-right: 20px;
    line-height: 1.2;
    color: rgb(14, 62, 127);
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.2em;
    font-family: 'Sora',sans-serif;
    font-weight: 700;
    color: #26222f !important;
    a{
        text-decoration: none;
        color: #26222f !important;
        
    }
  }
  .divider{
    height: 1px;
    width: 100%;
    background-color:black;
    margin: 5px 0;
    background-color: #DFDEE3;

    
  }
  
}
  