@import "../styles/mixins.scss";
.rsc{
    height: 500px;
    display: flex;
    @include sm{
      height: 1800px;
      flex-direction: column;
    }
    @include lg{
      height: 1200px;
      flex-wrap: wrap;
      // flex-direction: column;
      // width: calc(10% - 5%);
      // overflow;
    }
    // @include xlg{
    //   height: 1200px;
    //   flex-wrap: wrap;
    // }
    .square1{
        padding-top: 101px;
       padding-right: 30px;
       padding-left: 30px;
       padding-bottom: 30px;
        background-color: #879ffc; 
        color: white;
        text-align: left;
        flex: 1;
      .h2{
        font-size: 3rem;
        font-family: Montserrat,sans-serif;
      }
      .p1{
        font-family: 'Open Sans',sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top:  20px;
        line-height: 2.2;
      }
      .icon{
        margin-top:20px;

      }
      @include lg{
        width: 50%;
        flex: none;
      }
      // @include xlg{
      //   width: 50%;
      //   flex: none;
      // }
    }
    .square{
        flex: 1;
        padding-top: 101px;
       padding-right: 30px;
       padding-left: 30px;
       padding-bottom: 30px;
        background-color: white; 
        
        // color: white;
      
        text-align: left;
        .h2{
            font-size: 3rem;
            font-family: Montserrat,sans-serif;
            color: #5576fb !important;
            // animation: rsctoggle 0.7s  ease-in forwards;
          }
          .p1{
            font-family: 'Open Sans',sans-serif;
            font-size: 1.2rem;
            font-weight: 400;
            margin-top:  20px;
            line-height: 2.2;
          }
          .icon{
            margin-top:20px;
            color: #5576fb !important;
          }

          @include lg{
            max-width: 50%;
            flex: none;
          }
          // @include xlg{
          //   width: 50%;
          //   flex: none;
          // }
    }
    // .strategy{}
    // .consulting{}


}
@keyframes rsctoggle {
  0%{
      transform: translatey(-150%);
      opacity: 0.5;
  }
  100%{
      transform: translatey(0%);
      opacity: 1;
      // transform: translateY(-50%);
      // transform: translateY(-50%);
  }
  
}