@import "../styles/mixins.scss";

.starting{
    // margin-top: 475px;
    height:850px;
    // .binding{
    //     width: 65% !important;
    //     margin: 0 auto;
    // }
    @include sm{
        height: 1600px;
    }
    @include lg{
        height: 1300px;
        margin-bottom: 40px;
    }
    .firstsection{
        background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/f6017eaa9b1354efa1f776d0/pexels-photo-301930.png);
        height: 800px;
       object-fit: cover;
       background-repeat: no-repeat;
       width: 100% !important;
       margin: 0 auto;
    //    vertical-align: middle;
    //    overflow: hidden;
       background-size:cover ;
       background-position: center center;
   

    }
    .secondsection{
        // margin-top: 100px;
        .sections{
            display: flex;       
            transform: translateY(400px);
            width: 70%;
            margin: auto;
            margin-top: 30px;
            @include sm{
                flex-direction: column;
                width: 100%;
                margin-left: 5px;
                height: 500px;

            }
            @include lg{
                flex-wrap: wrap;
                height: 800px;
            }
            .section{
                flex: 1;
                height: 300px;
                word-wrap: break-word;
                padding: 30px;
                 @include lg{
                    flex: none;
                    width: 50%;
                    margin-top: 20px;
                    height: 00px;
                }
                .style{
                    padding: 30px;
                    padding-left: 0;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    @include sm{
                        display: block;
                    }
                    @include lg{
                        display: block;
                        // margin-top: 20px;
                    }
                    .h2{
                        font-weight: 700;   
                        font-size: 3.75rem;
                        margin: 20px 25px 0 0;
                        font-family: Montserrat, sans-serif !important;
                        color: #879ffc !important;
                        @include sm{
                            display: block;
                            font-size: 2.5rem;
                        } 
                        @include lg{
                             margin-top: 20px;
                        }
                    }
                    .h5{
                        font-weight: 700;
                        font-family: Montserrat, sans-serif !important;
                        margin: -35px 0 0 97px;
                        word-wrap: break-word;
                        text-align: left;
                        margin: 20px 20px 0 0;
                        font-size: 1.25rem;
                        align-items: flex-end;
                    }
                }
                    .p1{
                        word-wrap: break-word;
                        color: #111111;
                        font-family: 'Open Sans',sans-serif;
                        // font-size: 1rem;
                        font-size: 1.2rem;
                        padding-right: 20px;
                    }
                }
            }
    }
    }
