:root {
  --black1: black;
  .black2 {
    background-color: var(--black1);
  }
  // Define maximum margin value
      $maximum-margin: 1000;

   // Loop to generate margin classes
   @for $i from 1 through $maximum-margin {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}

@for $i from 1 through $maximum-margin {
  .p-#{$i}{
    padding: #{$i}px;
  }
.pt-#{$i} {
  padding-top: #{$i}px;
}
.pt-#{$i} {
  padding-right: #{$i}px;
}
.pt-#{$i} {
  padding-bottom: #{$i}px;
}
.pt-#{$i} {
  padding-left: #{$i}px;
}
}

.td{
  text-decoration: none;
}

@for $i from 1 through $maximum-margin {
  .w-#{$i} {
    width: #{$i}px !important;
  }
  .h-#{$i} {
    height: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  $p: $i * 1%;
  .wp-#{$i} {
    width: #{$p} !important;
  }
  .hp-#{$i} {
    height: #{$p} !important;
  }
}
@for $i from 1 through 100 {
  .ls-#{$i} {
    letter-spacing: #{$i}px !important;
  }
  .ws-#{$i} {
    word-spacing: #{$i}px !important;
  }
}
.td-1{
  text-decoration: none !important;
}


//postioning 
.pa{
  position: absolute;
}
.pre{
  position: relative;
}
.pf{
  position: fixed;
}

@mixin sm {
  @media only screen and (max-width: 540px) {
    @content;
  }
}
// @mixin md{
//    @media only screen and (max-width: 540px){
//     @content;

//    }
// }
// @mixin lg{
//    @media only screen and (max-width: 830px){
//     @content;

//    }
// }  

@mixin lg {
  @media only screen and (max-width: 1180px) and (min-width: 541px) {
    @content;
  }
}

@mixin xlg {
  @media only screen and (max-width: 1280px) and (min-width: 1024px) {
    @content;
  }
}


body {
  // display: none;
}
}